.property {
  width: 30rem;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  margin: 1.5rem;
  border: 1px solid black;
}

strong {
  font-weight: 700;
}

.propertyImage img {
  width: 27rem;
  height: 17rem;
  margin: 1rem;
}

.propertyInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2rem;
}

.bed_bath {
  display: flex;
  flex-direction: row;
}

.bed_bath p:nth-last-of-type(1) {
  margin-left: 9rem;
}
